body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 5px;
  background-color: white;
}



.cont {
  width: 100%;
  padding: 5px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
    
  }



/* Full-width input fields */
input[type=text], input[type=textarea] {
  width: 100%;
  padding: 15px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=textarea]:focus{
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #666464;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

h2 {text-align: center;}


textarea {
    width: 100%;
    padding: 5px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }